@model Online_Judge.DAL.Entities.Problem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Problem</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProblemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
