@model IEnumerable<Online_Judge.DAL.Entities.Test>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Problem.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Problem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TestID })
        </td>
    </tr>
}

</table>
