@model Online_Judge.DAL.Entities.Test

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Test</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TestID)

        <div class="form-group">
            @Html.LabelFor(model => model.ProblemID, "ProblemID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProblemID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProblemID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeLimit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeLimit)
                @Html.ValidationMessageFor(model => model.TimeLimit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateTS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateTS)
                @Html.ValidationMessageFor(model => model.CreateTS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateTS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateTS)
                @Html.ValidationMessageFor(model => model.UpdateTS)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
